@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: whitesmoke;
  font-family: "Cormorant Garamond", sans-serif;
  font-style: italic;
}

h1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 55px;
  letter-spacing: 5px;
}